fastapi
uvicorn[standard]
sqlalchemy[asyncio]>=2.0
aiomysql
redis
aiofiles
httpx
orjson
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
apscheduler
pydantic[email]
pydantic-settings
alembic
jinja2
python-multipart
websockets
pytest
pytest-asyncio
aiosqlite
email-validator
mistune
